@model Models.ViewModel.BasicInput.FrontVm
@using Portal.Resource.BasicInput
@using Portal.Resource.GlobalRes
@using Library.Helpers.Utilities;
@using Microsoft.AspNetCore.Localization;
@using Microsoft.AspNetCore.Http.Extensions;
@{
    int count = 0;
}

<!DOCTYPE html>
<html dir="ltr" lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Nour Nursery</title>
    <link rel="stylesheet" href="~/Front/css/bootstrap.min.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="~/Front/css/all.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/Front/css/sass/style.css">
</head>

<body>
    <!-- start nav -->
    <nav>
        <div class="container">
            <div class="nav">
                <div class="logo">
                    <img src="~/@(Model.Logo)" alt="">
                </div>

                <div class="links">
                    <ul>
                        <li><a href="~/">HOME</a></li>
                        <li><a href="">WHO WE ARE</a></li>
                        <li><a href="~/Home/Product">PROJECTS</a></li>
                        <li><a href="">PRODUCTS</a></li>
                        <li><a href="">CONTACT US</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- end nav -->
    <div class="responsive-nav">
        <div class="i-logo">
            <img src="~/@(Model.Logo)" alt="">
        </div>
        <div class="bar">
            <i class="fas fa-bars"></i>
        </div>
    </div>
    <!-- start header -->

    <header>
        <!-- Swiper -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                @foreach (var item in Model.Sliders1)
                {
                    <div class="swiper-slide">
                        <div class="img-h">
                            <img class="img-fluid" src="~/@(item.Image)" alt="">
                            <div class="head-info">
                                @(ResourcesReader.IsArabic? Html.Raw(item.DescAr): Html.Raw(item.DescEn))
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <!-- Swiper-->
    </header>
    <!-- end header -->
    <!-- item gal-->
    @for (int i = 0; i < Model.Products.Count(); i = i + 3)
    {
        <div class="item_gal">
            @for (int j = i; j < (i + 3) && j < Model.Products.Count(); j++)
            {
                <div class="gal">
                    <a href="~/Home/ProductDetails?Id=@Model.Products.ElementAt(j).Id">
                        <img class="img-fluid" src="~/@( Model.Products.ElementAt(j).Image1)" alt="">
                        @(ResourcesReader.IsArabic? Html.Raw(Model.Products.ElementAt(j).TitleAr): Html.Raw(Model.Products.ElementAt(j).TitleEn))
                    </a>
                </div>
            }
        </div>

    }
    <!-- contact us -->
    <div class="contact-us">
        <div class="title">
            <h6>@BasicInputRes.ContactUs</h6>
        </div>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-md-12 col-lg-5">
                    <div class="form-contact">
                        <div class="input-form">
                            <input type="text" placeholder="NAME">
                        </div>
                        <div class="input-form">
                            <input type="text" placeholder="MOBILE">
                        </div>
                        <div class="input-form">

                            <textarea placeholder="MESSAGE" name="" id="" cols="30" rows="10"></textarea>
                        </div>
                        <div class="sub-m">
                            <button>SEND</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-5">
                    <div class="contact-info">
                        @Html.Raw(Model.Contact)
                        <ul>
                            <li><a href="@Model.Instagram"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="@Model.Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="@Model.FaceBook"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="@Model.Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="@Model.Youtube"><i class="fab fa-youtube"></i></a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact us -->
    <!-- footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="footer-logo">
                        <img class="img-fluid" src="~/@(Model.Logo)" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="list-foot">
                        <ul>
                            <li><a href="">Lorem ipsum dolor sit</a></li>
                            <li><a href="">Lorem ipsum dt</a></li>
                            <li><a href="">Lorem ipsum  sit</a></li>
                            <li><a href="">Lorem  dolor sit</a></li>
                            <li><a href="">Lorem ipsum  sit</a></li>
                            <li><a href=""> ipsum dolor sit</a></li>
                            <li><a href="">Lorem ipsum  sit</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="list-foot">
                        <ul>
                            <li><a href="">Lorem ipsum dolor sit</a></li>
                            <li><a href="">Lorem ipsum dt</a></li>
                            <li><a href="">Lorem ipsum  sit</a></li>
                            <li><a href="">Lorem  dolor sit</a></li>
                            <li><a href="">Lorem ipsum  sit</a></li>
                            <li><a href=""> ipsum dolor sit</a></li>
                            <li><a href="">Lorem ipsum  sit</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="list-foot">
                        <ul>
                            <li><a href="">Lorem ipsum dolor sit</a></li>
                            <li><a href="">Lorem ipsum dt</a></li>
                            <li><a href="">Lorem ipsum  sit</a></li>
                            <li><a href="">Lorem  dolor sit</a></li>
                            <li><a href="">Lorem ipsum  sit</a></li>
                            <li><a href=""> ipsum dolor sit</a></li>
                            <li><a href="">Lorem ipsum  sit</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer -->
    <!-- copy -->
    <div class="copy">
        <h4>all rights reserved TO Islam Kordy @DateTime.Now.Year</h4>
    </div>
    <!-- copy -->

    <script src="~/Front/js/jquery-3.2.1.min.js"></script>
    <script src="~/Front/js/poper.min.js"></script>
    <script src="~/Front/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="~/Front/css/all.js"></script>
    <script src="~/Front/js/main.js"></script>

</body>

</html>